.container{
    width: 900px;
    margin: 50px auto;
    color: #fff;

    font-size: 24px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 25px;

    grid-auto-rows: 200px;

    grid-auto-flow: column;
    grid-auto-columns: 200px;
}
.item-1{
    background-color: #581B45;
}
.item-2{
    background-color: #900C3F;
}
.item-3{
    background-color: #C70039;
}
.item-4{
    background-color: #FF5733;
}
.item-5{
    background-color: #FFC30F;
}
.item-6{
    background-color: #FFEEAD;
}