.container{
	width: 900px;
	margin: 50px auto;
	background-color: lightgray;

	display: grid;
	grid-template-columns: 1fr 2fr 3fr;
	grid-template-rows: repeat(2, 150px);

}
.item-1{
	background-color: #581B45;
}
.item-2{
	background-color: #900C3F;
}
.item-3{
	background-color: #C70039;
}
.item-4{
	background-color: #FF5733;
}
.item-5{
	background-color: #FFC30F;
}
.item-6{
	background-color: #FFEEAD;
}
