.container{
	width: 900px;
	margin: 50px auto;
	background-color: lightgray;
	color: #fff;
	font-size: 24px;
	text-align: center;
	text-shadow: 1px 1px 1px #000;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 150px);
	grid-gap: 25px;

}
.item-1{
	background-color: #581B45;
	grid-column-start:3;
	grid-column-end: 4;
	grid-column: 3/4;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-row: 2/3;
	grid-area: 2 / 3 / 3 / 4;
}
.item-2{
	background-color: #900C3F;
}
.item-3{
	background-color: #C70039;
}
.item-4{
	background-color: #FF5733;
}
.item-5{
	background-color: #FFC30F;
}
.item-6{
	background-color: #FFEEAD;
}
